
<div ba-panel ba-panel-title="Answers" ba-panel-class="with-scroll full-height-panel">
  <button ng-click="getData()" type="button" class="btn btn-primary btn-with-icon"><i class="ion-refresh"></i>Refresh</button>
  <br/>
  <div class="">
    <table class="table table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Session/Question</th>
                <th ng-repeat="question in questions">{{question.text}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="" ng-repeat="data in tableData">
                <td>{{data.session}}</td>
                <td ng-repeat="q in questions">{{data[q.id]}}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
