<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addAnnouncement()">Add row</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr>
    <td>ID</td>
    <td>Text</td>
    <td></td>
  </tr>
  <tr ng-repeat="announcement in announcements track by $index" class="editable-row">
    <td>
        {{$index}}
    </td>
    <td>
        <span editable-text="announcement.text" e-name="text" e-form="rowform" e-required>
          {{ announcement.text || 'empty' }}
        </span>
    </td>
    <td>
      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted == announcements">
        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs" ng-click="initSave()">
          Save
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
          Cancel
        </button>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeAnnouncement($index)">Delete</button>
      </div>
    </td>
  </tr>
</table>
